<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4.0.xsd">

    <servlet>
        <servlet-name>GetAllBooksServlet</servlet-name>
        <servlet-class>ddg501.GetAllBooksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllBooksServlet</servlet-name>
        <url-pattern>/get_books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBookServlet</servlet-name>
        <servlet-class>ddg501.GetBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetBookServlet</servlet-name>
        <url-pattern>/get_book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>ddg501.AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/add_book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>ddg501.DeleteBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/delete_book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>ddg501.UpdateBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/update_book</url-pattern>
    </servlet-mapping>

</web-app>

